body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fffaf8;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: red;
  color: white;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #a81515;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

.project-card{
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    transition: 0.3s;
    background-color: #fff;
}

.project-card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transform: scale(1.01);
}

@media (max-width: 600px) {
    body{
        font-size: 16px;
    }

    header {
        padding: 1.5rem;
    }

    main{
        padding: 1rem;
    }
}

button{
    background-color: red;
    color: white;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
    font-size: 1rem;
}

button:hover {
    background-color: darkred;
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid red; /* or any color you like */
  margin-bottom: 1rem;
}
