body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fffaf8;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: red;
  color: white;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #a81515;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

.project-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.project-card {
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background: white;
}

.project-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


@media (max-width: 600px) {
    body{
        font-size: 16px;
    }

    header {
        padding: 1.5rem;
    }

    main{
        padding: 1rem;
    }
}

button{
    background-color: red;
    color: white;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
    font-size: 1rem;
}

button:hover {
    background-color: darkred;
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid red; /* or any color you like */
  margin-bottom: 1rem;
}
